#h1{

	color: #cc0066;
}

#h2{

	color:#6600cc; #1a1aff
}

h2{

	color:#003399;
}

.cls3{

	color:#0000b3;
}
#h4{

	color:#660033;
}

.center1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.reg{
   
   background-color: blue;
    font-size: 20;
    padding-top: 10px
    padding-bottom: 10px
  
    
    
}

.form{background-color: blue;
   
   color:#66ffff;
    width : 600px;
       
}


